:root {
  font-family: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #e0e0e0;
  background-color: #121212; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

body {
  margin: 0;
  display: block; 
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #d4af37;
  text-decoration: inherit;
  transition: 0.3s;
}
a:hover {
  color: #fff;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  color: #d4af37;
}

button {
  border-radius: 4px;
  border: 1px solid #d4af37;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #d4af37;
  cursor: pointer;
  transition: all 0.25s;
}


button:active {
  transform: scale(0.98);
}