spring:
  application:
    name: archive
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:C:/workspaceJ/Game/db/tdb;AUTO_SERVER=TRUE;DB_CLOSE_DELAY=-1
    username: sa
    password: 1234


  h2:
    console:
      enabled: true
      path: /h2-console


  mybatis:
    mapper-locations: classpath:mappers/*.xml
    type-aliases-package: com.archive.domain
